<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Genome (logan-mbpro's conflicted copy 2016-08-09).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Genome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JayExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JayPerformance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D5396CB1BBA89D600791B49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5396E71BBA8A2800791B49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCE37361BB9D9A300D0100C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68088BF51BC5F5D000B5A733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8052E75B1BB58102004E08F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8052E76F1BB58102004E08F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Foundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Genome</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeCoreData</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeFoundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeFoundationTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeFoundationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeJSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeJson</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeSerialization</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeSerializationTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeSerializationTestSuiteTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_GenomeTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JayExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JayPerformance</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_NodeConvertible</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PureJson</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
